# Node.js
node_modules/
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Environment variables
.env
.env.development
.env.production
.env.local

# Test coverage
coverage/
test.js
tt.js

# IDE and OS specific files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Compiled files
*.js.map
*.css.map
